<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <h1>Create a new message</h1>

    <form method="POST" action="/new">
      <label for="author">Autor:</label>
      <input
        type="text"
        id="author"
        name="author"
        placeholder="Write your name..."
        required
      />

      <label for="message">Message</label>
      <input
        type="text"
        id="message"
        name="message"
        placeholder="Write your message..."
        required
      />

      <button type="submit">Send</button>
    </form>
  </body>
</html>
