<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="form.css" />
    <title>New Message</title>
  </head>
  <body>
    <header>
      <h1>Create a new message</h1>
    </header>
    <form method="POST" action="/new">
      <label for="author">Author:</label>
      <input
        type="text"
        id="user"
        name="user"
        placeholder="Write your name..."
        maxlength="50"
        required
      />
      <label for="message">Message:</label>
      <textarea
        id="text"
        name="text"
        placeholder="Write your message..."
        maxlength="200"
        required
      ></textarea>
      <div class="form-buttons">
        <a href="/"
          ><button type="button" id="back-btn">Back to Messages</button></a
        >
        <button type="submit">Send</button>
      </div>
    </form>
  </body>
</html>
