<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Messages</title>
  </head>
  <body>
    <header>
      <h1>Message Board</h1>
      <a href="/new"><button id="add-message-btn">New Message</button></a>
    </header>
    <div id="loading">Loading messages, please wait...</div>
    <div class="message-board" id="messages"></div>
    <div class="pagination">
      <button id="prev-btn" disabled>Previous</button>
      <button id="next-btn">Next</button>
    </div>
    <script type="module" src="randomColor.js"></script>
    <script type="module" src="pagination.js"></script>
    <script type="module" src="messages.js"></script>
  </body>
</html>
